#images {
    min-height: 74%;
    background: #ffffff;
    border-style: solid;
    border-color: #dddddd;
    border-width: 2px;
    margin-bottom: 20px;
    width: 650px;
    float: left;
    overflow: auto;
}

#images > img {
    padding: 15px 15px 15px 15px;
    display: inline;
}

#text-block {
    position: relative;
    bottom: 1;
    left: 0;
    width: 200;
    padding: 10px;
    background: #4aaaa5;
    color: #ffffff;
    font: 'arial';
    font-size: 18;
}