#images {
    min-height: 74%;
    background: #ffffff;
    border-style: solid;
    border-color: #dddddd;
    border-width: 2px;
    margin-bottom: 20px;
    width: 650px;
    float: left;
    overflow: auto;
}

#images > img {
    padding: 15px 15px 15px 15px;
    position: relative;
    display: inline;
}
#text-block {
    position: absolute;
    text-align: center;
    bottom: 400;
    left: 17;
    width: 230;
    padding: 10px;
    background: #4aaaa5;
    color: #ffffff;
    font-size: 18;
    z-index: 10;
}
