html {
	height: 100%;
}

body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	background-image: url(mooning.png);
	min-height: 100%;
}

#header {
	height: 60px;
	background: #ffffff;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 18px;
	width: 970px;
	padding-bottom: 1px;
	margin: auto;
}

#header h1 {
	display: inline;
}

#header ul li {
	display: inline;
}

header {
	position: absolute;
	top: 0;
	width: 100%;
	border-bottom-style: solid;
	height: 60px;
	border-bottom-color:#cccccc;
	margin-bottom: 20px;
	background: #ffffff;
}

h1 {
	height: 150px;
	width: 100px;
	padding: 20px;
	background: #4aaaa5;
	display: inline-block;
	color: #ffffff;
}

ul {
	list-style-type: none;
	padding: 15px;
	float: right;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: right;
	border-right: solid;
	border-right-color: #e6e6e6;
}

li a {
	display: block;
	color: #cccccc;
	text-align: center;
	padding: 14px 14px;
	text-decoration: none;
}

li a:hover {
	background: #dddddd;
}

.main-content {
	width: 960px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}

#bio {
	width: 650px;
	background: #ffffff;
	border-style: solid;
	border-color: #dddddd;
	border-width: 2px;
	float: left;
	margin-bottom: 20px;
}

h2 {
	color: #4aaaa5;
	padding-left: 15px;
	padding-bottom: 15px;
	border-bottom-style: solid;
	border-bottom-color: #dddddd;
}

img {
	float: left;
	margin-left: 15px;
	margin-right: 15px;
}

p {
	line-height: 1.5;
	padding-left: 15px;
	padding-right: 15px;
}

#contact {
	float: right;
	width: 270px;
	border-style: solid;
	border-width: 2px;
	background: #ffffff;
	border-color: #dddddd
}

footer {
	clear: both;
	position: absolute;
	bottom: 0;
	width: 100%;
	height:60px;
	padding-top: 30px;
	text-align: center;
	background: #666666;
	color: #ffffff;
	border-top-style: solid;
	border-top-color: #4aaaa5;
	border-top-width: 15px;

}